.git
.github
.vs
.vscode
.idea
**/.DS_Store

**/bin/
**/obj/
**/bin\\/
**/obj\\/
**/node_modules/
**/dist/
**/TestResults/
**/coverage/

# Not needed for API/UI images
src/backend/Tests/

**/*.user
**/*.suo
**/appsettings.*.local.json

bruno/
docs/
**/README.md
AGENTS.md
